@import './_override.variables.scss';

$header-height: 62px;

$gray: $gray-200;

.bg-ac-blur {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(~assets/images/bg-ac-blur.jpg);
  background-position: center center;
}

.bg-header {
  background: #332d2b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #332d2b, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #332d2b, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-header-shape {
  background-repeat: no-repeat;
  background-size: 5280px 268px;
  background-position: calc((5280px / 2) + (50% - (5280px / 2)) + 300px) top;
}
@media (min-width: 576px) {
  .bg-header-shape {
    background-position: calc((5280px / 2) + (50% - (5280px / 2)) + 320px) top;
  }
}
@media (min-width: 768px) {
  .bg-header-shape {
    background-position: calc((5280px / 2) + (50% - (5280px / 2)) + 240px) top;
  }
}
@media (min-width: 992px) {
  .bg-header-shape {
    background-position: calc((5280px / 2) + (50% - (5280px / 2)) + 120px) top;
  }
}
@media (min-width: 1500px) {
  .bg-header-shape {
    background-position: calc((5280px / 2) + (50% - (5280px / 2)) - 0px) top;
  }
}

.bg-header-shape-red {
  background-image: url(~assets/images/red-header-shape.svg);
}
.bg-header-shape-red-black {
  background-image: url(~assets/images/red-black-header-shape.svg);
}

.bg-2018 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #333333;
  background-blend-mode: overlay;
}

.bg-2018-dallas {
  background-image: url(~assets/images/bg-2018-dallas.jpg);
}
.bg-2018-newyork {
  background-image: url(~assets/images/bg-2018-newyork.jpg);
}
.bg-2018-northwest {
  background-image: url(~assets/images/bg-2018-northwest.jpg);
}
.bg-2018-sf {
  background-image: url(~assets/images/bg-2018-sf.jpg);
}

.bg-color-gray { background-color: $gray !important; }
.bg-color-white { background-color: $white !important; }
.bg-color-black { background-color: $black !important; }
.bg-color-red { background-color: $red !important; }
.bg-color-orange { background-color: $orange !important; }
.bg-color-yellow { background-color: $yellow !important; }
.bg-color-green { background-color: $green !important; }
.bg-color-blue { background-color: $blue !important; }
.bg-color-teal { background-color: $teal !important; }
.bg-color-pink { background-color: $pink !important; }
.bg-color-purple { background-color: $purple !important; }

.bg-color-orange-dk-1 { background-color: #E65C00 !important; }
.bg-color-orange-dk-2 { background-color: #CF5300 !important; }
.bg-color-green-dk-1 { background-color: #76C43C !important; }
.bg-color-green-dk-2 { background-color: #6AB037 !important; }
.bg-color-blue-dk-1 { background-color: #0769D2 !important; }
.bg-color-blue-dk-2 { background-color: #065FBE !important; }
.bg-color-teal-dk-1 { background-color: #07D2D0 !important; }
.bg-color-teal-dk-2 { background-color: #06BEBB !important; }

.bg-color-gray-lt-1 { background-color: #323940 !important; }
.bg-color-gray-lt-2 { background-color: #464D53 !important; }

.bg-color-black-alpha-40 { background-color: rgba($black, 0.4) !important; }
.bg-color-black-alpha-60 { background-color: rgba($black, 0.6) !important; }
.bg-color-black-alpha-80 { background-color: rgba($black, 0.8) !important; }

.bg-color-header { background-color: rgba($black, 0.6) !important; }

.bg-gradient-gray {
  background: $gray-400;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $gray-400, $gray-200, $white, $white, $gray-200, $gray-400);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $gray-400, $gray-200, $white, $white, $gray-200, $gray-400); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Tweaks to deal with colors on red interest form
.bg-color-red .form-control.is-invalid {
  border-color: $blue;
}
.bg-color-red .text-danger {
  color: $white !important;
}
.bg-color-red .text-muted {
  color: $gray-400 !important;
}

.color-black { color: $black !important; }
.color-white { color: $white !important; }
.color-gray { color: $gray !important; }
.color-blue { color: $blue !important; }
.color-indigo { color: $indigo !important; }
.color-purple { color: $purple !important; }
.color-pink { color: $pink !important; }
.color-red { color: $red !important; }
.color-orange { color: $orange !important; }
.color-yellow { color: $yellow !important; }
.color-green { color: $green !important; }
.color-teal { color: $teal !important; }
.color-cyan { color: $cyan !important; }

.color-white-alpha-50 { color: rgba($white, 0.5) !important; }

@media (min-width: 1500px) {
  .container-auto {
    max-width: 1440px;
  }
}

body { background-color: $gray; }

.h-header { height: $header-height; }
.max-h-header { max-height: $header-height; }
.min-h-header { min-height: $header-height; }
.pt-header { padding-top: $header-height; }
.pt-header-shape { padding-top: 72px; }

.logo-header {
  height: 25px;
  width: 158px;
}

.logo-main {
  width: 300px;
}
@media (min-width: 768px) {
  .logo-main {
    width: 400px;
  }
}

a.link-blue, a.link-blue:visited {
  color: inherit !important;
  text-decoration: none;
}
a.link-blue:focus, a.link-blue:hover {
  color: $blue !important;
}

a.link-underline, a.link-underline:visited {
  color: inherit !important;
  text-decoration: underline;
}
a.link-underline:focus, a.link-underline:hover {
  text-decoration: none;
}

.bg-darken { background-color: rgba(0, 0, 0, 0.1); }
.bg-lighten { background-color: rgba(255, 255, 255, 0.1); }
.bg-none { background: none; }

.body-copy {
  line-height: 1.7em;
}
.body-copy.font-size-110 {
  line-height: 1.9em;
}

.display-vw-1 { font-size: 1vw; }
.display-vw-3 { font-size: 3vw; }
.display-vw-5 { font-size: 5vw; }
.display-vw-10 { font-size: 10vw; }
.display-vw-15 { font-size: 15vw; }
.display-vw-20 { font-size: 20vw; }

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.flip-enter-active {
  transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.flip-leave-active {
  transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.flip-enter, .flip-leave-to {
  transform: scaleY(0) translateZ(0);
  opacity: 0;
}

.font-family-oswald-400,
.font-family-oswald-300,
.font-family-oswald-500,
.font-family-oswald-600 {
  font-family: 'Oswald', sans-serif;
}

.font-family-oswald-300 { font-weight: 300; }
.font-family-oswald-400 { font-weight: 400; }
.font-family-oswald-500 { font-weight: 500; }
.font-family-oswald-600 { font-weight: 600; }

.font-size-110 {
  font-size: 110%;
}
.font-size-150 {
  font-size: 150%;
}

.img-discover {
  max-height: 270px;
}

.img-practitioners {
  max-height: 270px;
}

.img-icon-sm {
  height: 32px;
  width: 32px;
}

.img-blue-triangle,
.img-calendar-check {
  height: 25px;
  width: 25px;
  position: relative;
}

.img-red-star {
  height: 28px;
  width: 31px;
  position: relative;
  top: 4px;
}
table .img-red-star {
  top: -2px;
}

.img-brighten-110 {
  filter: brightness(110%);
}
.img-brighten-120 {
  filter: brightness(120%);
}

.img-wrap-ac-speaker-land {
  max-height: 240px;
  max-width: 320px;
}
.img-wrap-ac-speaker-port {
  max-height: 240px;
  max-width: 180px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
