@import './_override.variables.scss';

$header-height: 63px;
$header-height-collapse: 63px;
$header-logo-padding: 16px;

$gray: $gray-200;

.bg-ac-lineup {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(~assets/images/bg-ac-lineup.jpg);
  background-position: center center;
  background-color: #323940;
  background-blend-mode: overlay;
}

.bg-ac-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(~assets/images/bg-ac-main.jpg);
  background-position: center center;
}

.bg-ac-main-blur {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(~assets/images/bg-ac-main-blur.jpg);
  background-position: center center;
}

.bg-ac-levels {
  background: #BBD8F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #BBD8F8, #4A99ED);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #BBD8F8, #4A99ED); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-color-gray { background-color: $gray !important; }
.bg-color-white { background-color: $white !important; }
.bg-color-black { background-color: $black !important; }
.bg-color-red { background-color: $red !important; }
.bg-color-orange { background-color: $orange !important; }
.bg-color-yellow { background-color: $yellow !important; }
.bg-color-green { background-color: $green !important; }
.bg-color-blue { background-color: $blue !important; }
.bg-color-teal { background-color: $teal !important; }
.bg-color-pink { background-color: $pink !important; }
.bg-color-purple { background-color: $purple !important; }

.bg-color-orange-dk-1 { background-color: #E65C00 !important; }
.bg-color-orange-dk-2 { background-color: #CF5300 !important; }
.bg-color-green-dk-1 { background-color: #76C43C !important; }
.bg-color-green-dk-2 { background-color: #6AB037 !important; }
.bg-color-blue-dk-1 { background-color: #0769D2 !important; }
.bg-color-blue-dk-2 { background-color: #065FBE !important; }
.bg-color-teal-dk-1 { background-color: #07D2D0 !important; }
.bg-color-teal-dk-2 { background-color: #06BEBB !important; }

.bg-color-gray-lt-1 { background-color: #323940 !important; }
.bg-color-gray-lt-2 { background-color: #464D53 !important; }

.bg-color-black-alpha-40 { background-color: rgba($black, 0.4) !important; }
.bg-color-black-alpha-60 { background-color: rgba($black, 0.6) !important; }
.bg-color-black-alpha-80 { background-color: rgba($black, 0.8) !important; }

.bg-color-header { background-color: rgba($black, 0.6) !important; }

.bg-gradient-gray {
  background: $gray-400;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $gray-400, $gray-200, $white, $white, $gray-200, $gray-400);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $gray-400, $gray-200, $white, $white, $gray-200, $gray-400); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.color-black { color: $black !important; }
.color-white { color: $white !important; }
.color-gray { color: $gray !important; }
.color-blue { color: $blue !important; }
.color-indigo { color: $indigo !important; }
.color-purple { color: $purple !important; }
.color-pink { color: $pink !important; }
.color-red { color: $red !important; }
.color-orange { color: $orange !important; }
.color-yellow { color: $yellow !important; }
.color-green { color: $green !important; }
.color-teal { color: $teal !important; }
.color-cyan { color: $cyan !important; }

.color-white-alpha-50 { color: rgba($white, 0.5) !important; }

/* TODO: Rename to border-bottom-black-3, etc. */
// .border-bottom-black { border-bottom: 3px solid $black; }
// .border-bottom-black-1 { border-bottom: 1px solid $black; }
// .border-bottom-yellow { border-bottom: 3px solid $yellow; }

body { background-color: $gray; }

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
.h-header { height: $header-height-collapse; }
.max-h-header { max-height: $header-height-collapse; }
.min-h-header { min-height: $header-height-collapse; }
.pt-header { padding-top: $header-height-collapse; }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .h-header { height: $header-height; }
  .max-h-header { max-height: $header-height; }
  .min-h-header { min-height: $header-height; }
  .pt-header { padding-top: $header-height; }
}

.logo-header {
  height: 25px;
  width: 158px;
}

.logo-main {
  height: 80px;
  width: 458px;
}

a.link-underline, a.link-underline:visited {
  color: inherit !important;
  text-decoration: underline;
}
a.link-underline:focus, a.link-underline:hover {
  text-decoration: none;
}

.bg-darken { background-color: rgba(0, 0, 0, 0.1); }
.bg-lighten { background-color: rgba(255, 255, 255, 0.1); }
.bg-none { background: none; }

.body-copy {
  line-height: 1.7rem;
}

.display-vw-1 { font-size: 1vw; }
.display-vw-3 { font-size: 3vw; }
.display-vw-5 { font-size: 5vw; }
.display-vw-10 { font-size: 10vw; }
.display-vw-15 { font-size: 15vw; }
.display-vw-20 { font-size: 20vw; }

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.flip-enter-active {
  transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.flip-leave-active {
  transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.flip-enter, .flip-leave-to {
  transform: scaleY(0) translateZ(0);
  opacity: 0;
}

.font-family-oswald-400,
.font-family-oswald-300,
.font-family-oswald-500,
.font-family-oswald-600 {
  font-family: 'Oswald', sans-serif;
}

.font-family-oswald-300 { font-weight: 300; }
.font-family-oswald-400 { font-weight: 400; }
.font-family-oswald-500 { font-weight: 500; }
.font-family-oswald-600 { font-weight: 600; }

.font-size-150 {
  font-size: 150%;
}

.img-discover {
  max-height: 270px;
}

.img-practitioners {
  max-height: 270px;
}

.img-red-star {
  height: 28px;
  width: 31px;
  position: relative;
  top: 4px;
}

table .img-red-star {
  top: -2px;
}

.img-brighten-110 {
  filter: brightness(110%);
}
.img-brighten-120 {
  filter: brightness(120%);
}

.img-wrap-ac-speaker-land {
  max-height: 240px;
  max-width: 320px;
}
.img-wrap-ac-speaker-port {
  max-height: 240px;
  max-width: 180px;
}

.rotate-ccw-10 {
  -ms-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
